  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
    <% if (user) { %> 
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="btn btn-primary btn-dark btn-lg navbar-brand" href="/">SOCCER-TRACKER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="#">Add team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">All team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Favorites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/profiles">Profile</a>
              </li>
            </ul>
<!----------------- logout button ------------------------------>
            <a href="/auth/logout">
              <button class="btn btn-secondary btn-lg btn-outline-dark me-5" type="submit">Logout</button>
            </a>

<!----------------- profile and avatar ------------------------->
            <div class="text-end d-flex align-items-center">
              <% if (user) { %>
                <div id="profile-dropdown" class="dropdown text-end">
                  <a 
                    id="dropdownUser"
                    href="#"
                    class="d-block link-light text-decoration-none"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <% if(user?.profile.avatar) {%>
                      <img 
                        class="rounded-circle avatar-img"
                        src="<%= user.profile.avatar %>" 
                        alt="Your avatar"
                      >
                    <% } else { %>
                      <img
                        class="avatar-img"
                        src="/images/ico   ns/user-small.png" 
                        alt="A placeholder avatar"
                      >
                    <% } %> 
                  </a>
                  <ul 
                    class="dropdown-menu bg-secondary" 
                    aria-labelledby="dropdownUser"
                  >
                    <li>
                      <a 
                        href="/profiles/<%= user.profile._id %>" 
                        class="dropdown-item bg-secondary text-white"
                      >
                        My Profile
                      </a>
                    </li>
                    <li><hr class="dropdown-divider bg-secondary text-white"></li>
                    <li>
                      <a 
                        href="/auth/logout" 
                        class="dropdown-item bg-secondary text-white"
                      >
                        Sign Out
                      </a>
                    </li>
                  </ul>
                </div>
              <% } else { %>
                <a href="/auth/google" class="siwg-link right item">
                  <button type="submit" class="siwg">
                    <img id="siwg-image" alt="Sign in with Google" />
                  </button>
                </a>
              <% } %>
            </div>

              
       
          </div>
        </div>
      </nav>
     
    <% } else { %>
      <div class="d-grid gap-2 col-3 mx-auto">
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      </div>
    <% } %>
        


  
