<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <hr>
  <h2 class="header">Bienvenue | Soccer-team-tracker</h2>
  <hr>
  <div class="message">
    Ideal for soccer and football clubs <br>
    Display football players, and sport league <br>
    Timetable Responsive plugin for sports events <br>
    There is no place for discrimination in our game <br> Everyone is welcome
  </div>
</main>

<%- include('./partials/footer') %>
